
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}
* {
  box-sizing: border-box;
}


